* {
  box-sizing: border-box;
  font-family: PT serif, serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  background-color: rgb(181, 245, 233);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.trybewarts-header-logo {
  height: 120px;
  margin-left: 40px;
}

h1 {
  color: rgb(181, 245, 233);
  font-size: 75px;
}

.trybewarts-login {
  display: flex;
  width: 480px;
  height: 200px;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

#email , #senha {
  display: inline-block;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

#button-entrar {
  display: inline-block;
  width: 120px;
  height: 45px;
  border-radius: 8px;
  color: white;
  background-color: darkblue;
}

main {
  display: flex;
  margin: 0;
  justify-content: space-around;
}

main > section {
  margin-left: 100px;
  color: rgb(9, 95, 91);
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 17px;
}

#dados input {
  border-radius: 10px;
  width: 250px;
  height: 45px;
  padding: 10px;
  display: inline-block;
  margin-top: 15px;
}

#evaluation-form > div {
  margin-left: 30px;
}

#evaluation-form > div > div {
  display: inline-block;
  margin: 5px;
  font-size: 20px;
}

#house {
  width: 190px;
  padding: 10px;
  background-color: white;
  color: rgb(9, 95, 91);
  border-radius: 10px;
}

#linha-horizontal {
  width: 800px;
  height: 1px;
  border: 1px solid rgb(50, 167, 145);
  margin-top: 20px;
}

#options {
  width: 650px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#family {
  width: 150px;
  height: 130px;
  margin-top: 18px;
}

#label-family {
  margin-bottom: 20px;
}

#family-div {
  margin-top: 18px;
}

#family input {
  width: 10px;
  height: 22px;
  margin-top: 15px;
  display: inline;
}

#family-div label {
  display: inline-block;
  box-sizing: border-box;
}

#checkbox {
  width: 300px;
  margin-top: 18px;
}

#checkbox > label {
  display: block;
  width: 300px;
}

#checkbox-div {
  width: 230px;
  height: 100px;
  margin-top: 12px;
}

#checkbox input {
  width: 12px;
  height: 10px;
  margin: 35px 0 0 15px;
}

.subject {
  width: 10px;
  display: inline;
  margin: 15px 18px 15px 0;
}

#rate {
  width: 700px;
  height: 20px;
  margin: 30px 0 0 70px;
}

#rate input {
  width: 13px;
  height: 10px;
  margin: 0 1px 0 10px;
}

#textarea {
  margin: 50px 0 12px 24px;
}

#textarea textarea {
  border: 1px solid rgb(50, 167, 145);
  border-radius: 10px;
}

#section-agreement {
  width: 500px;
  margin: 20px 130px 0 0;
}

#agreement {
  display: inline-block;
  width: 10px;
  height: 10px;
}

/* #submit-btn {
  width: 670px;
  height: 30px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 8px;
  color: white;
  background-color: darkblue;
} */

#linha-vertical {
  width: 1px;
  height: 900px;
  border: 1px solid rgb(50, 167, 145);
  margin-top: 40px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 80px 80px 0 0;
}
